* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
   } 

body {
       display: flex;
       flex-direction: column;
       height: 100vh;
   }
header {
       background-color: grey;
       padding: 20px;
       text-align: center;
   }
main {
       background-color: white;
       padding: 20px;
       flex-grow: 2;
       overflow: auto;
   }
footer {
       background-color: grey;
       padding: 20px;
       text-align: center;
   }


.message {
       padding: 10px;
       display: flex;
   }

.message-tile {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
.sent-message {
          background-color: #d2eaf0;
          text-align: left;
          border-radius: 10px;
        }
.received-message {
          background-color: #f0e6d2;
          text-align: right;
          border-radius: 10px;
        }
 .new-message {
       padding: 10px;
       display: flex;
   }
 .new-message input {
       flex-grow: 1;
       padding: 10px;
   }
 .new-message button {
       width: 100px;
       cursor: pointer;
   }
.active-users{
       color: blue;
       font-size: 12px;
       text-decoration: underline;
}
.benutzername {
  color: white;
  font-size:12px;
}
.erstellen{
  cursor: pointer;
}
.aendern{
  cursor: pointer;
}
