/* Allgemeine Stile */
* {
  font-family: Roboto, sans-serif;
  max-width: 1920px;
 }

header {
  text-align: center;
  background-color: orange;
  border-radius: 10px;
  color: white;
}

.header-image {
  max-width: 100%;
    height: auto; 
}

body {
    margin: 0;
    padding: 20px;
  }
  
  .navbar {
    background-color: orange;
    border-radius: 10px;
    height: auto;
    text-align: center;
  }
  
  .menu-items {
    list-style: none;
  }
  
  .menu-items li {
    display: inline-block;
  }
  
  .menu-items li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
  }
  
  /* Hover-Effekt */
  .menu-items li a:hover {
    background-color: white;
    color: orange;
  }
  
  /* Burger-Menü */
  .burger-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
  }
  
  .burger-icon {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }

  .burger-menu.active .burger-icon:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.active .burger-icon:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .burger-menu.active .burger-icon:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.burger-icon {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

.menu-items li {
    margin-bottom: 10px;
}

.menu-items li a {
    text-decoration: none;
    color: black;
}

.submenu-items {
    list-style-type: none;
    padding-left: 20px;
    display: none;
}

.submenu-items li {
    margin-bottom: 5px;
}

.submenu-items li a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .menu-items {
        display: block;
    }
}

.main_titel{
  text-align: center;
  background-color: orange;
  color: white;
  padding: 10px;
}
 
    thead {
      background-color: orange;
      color:white;      
    }
    

    tr {
      border-bottom: 1px solid #ddd;
      
    }
    
    th, td {
      padding: 15px;
      text-align: center;
    }

footer {
  border-radius: 10px;
  background-color: orange;
  padding: 10px;
  text-align: center;
}