    /* CSS für die horizontale Navigation */
    .navbar {
        display: flex;
        justify-content: center;
        background-color: gray;
        align-items: center;
                   }

    .navbar ul {
        display: flex;
        list-style-type: none;
        padding: 15px;
       
        }

    .navbar ul li {
        margin-right: 20px;
        background-color: lightseagreen;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;     
            }
.navbar ul li:hover {
    background-color: blueviolet;
}

    .navbar ul li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    /* CSS für das Dropdown-Menü */
    .navbar ul ul {
        display: none;
        position: absolute;
    }

    .navbar ul li:hover > ul {
        display: inherit;
    }